body {
  background-color: #ffffff;
  font-family: 'Times New Roman', Times, serif
}

.chart-container {
  height: 100vh;
  background-color: #fffeff"

}

h1 {
  color: #4C87B9;
  text-align: center;
}

h2 {
  color: #4C87B9;
  text-align: center;
}